<form class="search-form" id="header-search" method="post" action="http://www.washingtonindependentreviewofbooks.com/index.php" _lpchecked="1">
<div class="hiddenFields">
<input type="hidden" name="params" value="eyJyZXN1bHRfcGFnZSI6ImNvbnRlbnRcL3NlYXJjaC1yZXN1bHRzXC8lcyJ9">
<input type="hidden" name="ACT" value="18">
<input type="hidden" name="site_id" value="1">
<input type="hidden" name="csrf_token" value="9f077881671ac550eae07af98607783a3c16f408">
</div>


<fieldset>
    <label for="header-search">Search</label>
    <input id="header-search" name="keywords" type="text" class="text search" placeholder="Search" value="">
    <input id="header-search-submit" type="submit" class="submit-button">
</fieldset>
</form>